.menu-wrap {
  position: fixed; /*so its always at the top, even though we can't scroll down, it we could it would always remain at the top*/
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(
    --primary-color
  ); /*this works because our style.css link is above the menu.css link in index.html so this file can inherit the variables in the style.css file*/
  display: flex;
  align-items: center;
  justify-content: center;
}
